<div style = "font-weight: 900;font-size: 150%; padding-left: 10px; padding-top: 5px; margin-top:0px; padding-bottom:0px;">
Your Health Points: <%= player_hp %> 
<span style="padding-left:40px;">Level: <%= level %> </span> 
<span style="padding-left:40px;">Exp: <%= experience %> </span> 
</div>